netflix-clone/index.html
netflix-clone/assets/10.png
netflix-clone/assets/1.png
netflix-clone/assets/2.png
netflix-clone/assets/3.png
netflix-clone/assets/4.png
netflix-clone/assets/5.png
netflix-clone/assets/6.png
netflix-clone/assets/7.png
netflix-clone/assets/8.png
netflix-clone/assets/9.png
netflix-clone/assets/11.png
netflix-clone/assets/12.png
netflix-clone/assets/13.png
netflix-clone/assets/14.png
netflix-clone/assets/15.png
netflix-clone/assets/16.png
netflix-clone/assets/17.png
netflix-clone/assets/18.png
netflix-clone/assets/logo.png
